#app {
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.male {
    border: 5px solid rgb(15, 135, 139);
}

.female {
    border: 5px solid rgb(248, 28, 156);
}

button {
    height: 30px;
    color: white;
    border: none;
    padding: 10px;
}

#male {
    background-color: rgb(15, 135, 139);
}

#female {
    background-color: rgb(248, 28, 156);
}